@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  font-family: "Roboto Slab", serif;
  /* background-color: black; */
  color: white;
}
body {
  background-color: black;
}
.resume {
  /* width: 800px; */
  width: 70%;
  height: 1300px;
  margin: auto;
  background-size: cover;
  position: relative;
}
.heading {
  width: 150px;
  left: 106px;
  color: #53a189;
  top: 3px;
  font-size: 110px;
  position: absolute;
}
.dev {
  position: absolute;
  top: 281px;
  color: #53a189;
  left: 321px;
  font-weight: 600;
  letter-spacing: 1px;
}
.resume-section {
  display: flex;
  margin-top: 100px;
}
.resume-left {
  /* width: 300px; */
  margin: auto;

  height: 1300px;
  background-color: #858c8a;
}
.resume-right {
  /* width: 500px; */

  margin: auto;
  height: 1300px;
  background-color: #262626;
}
.left-content,
.right-content {
  margin-top: 340px;
  margin-left: 53px;
}
.left-content {
  margin-top: 350px;
}
.resume-left h4 {
  margin-bottom: 14px;
  font-size: 16px;
}
.resume-left p {
  font-size: 14px;
  /* width: 220px; */
  line-height: 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.objective-section {
  margin-bottom: 45px;
  width: 90%;
}
.sec {
  margin-bottom: 40px;
}
.add-head {
  margin-bottom: 10px !important;
}
.address-section p {
  line-height: 8px;
}
.website-section a {
  line-height: 50px;
}
.about {
  color: #53a189;
  font-size: 19px;
  margin-top: 51px;
  border-bottom: 1px solid;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.right-content {
  /* width: 419px; */
}
.skill-list {
  line-height: 2;
}
.project {
  margin-top: 30px;
}
.project-name {
  font-size: 20px;
  margin-bottom: 10px;
  list-style: none;
}
.about-para {
  width: 80%;
  line-height: 1.5;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1200px) {
  .resume {
    height: 1460px;
  }
  .resume-left {
    height: 1460px;
  }
  .resume-right {
    height: 1460px;
  }
}
@media screen and (max-width: 945px) {
  .resume {
    width: 100%;
  }
  .resume-section {
    flex-direction: column;
  }
  .resume {
    height: 1150px;
  }
  .resume-left {
    height: 1150px;
  }
  .resume-right {
    height: 1100px;
  }
  .right-content {
    margin-top: 97px;
  }
}
@media screen and (max-width: 722px) {
  .heading {
    top: 3px;
    left: 40px;
    font-size: 82px;
  }
  .dev {
    top: 207px;
    left: 251px;
  }
}

@media screen and (max-width: 460px) {
  .resume {
    height: 1250px;
  }
  .resume-left {
    height: 1250px;
  }
  .resume-right {
    height: 1250px;
  }
}
